body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: -o-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("C:\Users\jonhi\Desktop\vsc\images\download.jpg");
    background: #003366;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    background: #e6f0ff;
    padding: 40px;
    text-align: center;
}

.content {
    padding: 20px;
    color: lawngreen;
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
